/* *****************************************************************************

Title:  CSS Nav Style Page

Use:  CSS Style

Author:  Darcy O'Connor

School/Term:  University of Missouri, Summer 2020

Developed: July 5, 2020

Tested:  July 10, 2020; Passed on Safari and Chrome browsers.

****************************************************************************** */

@font-face { font-family: bbMamaBear; src: url(bbMamaBear.ttf)}


nav ul li {
display: inline-block;
border: 5px solid #123c69;
text-align: center;
background: #edc7b7;
width: 150px;
list-style-type: none;
padding: 25px 0 25px 0;
margin-top: 0px;
margin-left: 20px;
position: relative;
}

nav ul {text-align: center;}

nav {text-align: center;
    margin-top: 0px;
    margin: 15px;
   }


nav a:link {color:#eee2dc;}
nav a:hover {color:#123c69;}
nav a:visited {color:#ac3b61}
nav a { font-family: bbmamabear; font-size: 14pt; text-decoration: none; line-height: 40px;}



/*2 tier navigation*/

nav ul {list-style: none; position: relative;}

nav ul ul {display:none; position: absolute; top: 100%;}

nav ul ul li {float: none; padding: 25px; z-index: 1000;}

nav ul li:hover>ul {display: block;}

nav>ul::after {content: ""; display: block; clear:both;}

/*responsive navigation*/

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    color:#ac3b61;
}


#toggle {display: none;}


/*media query*/

@media only screen and (max-width: 640px) {
    
  
    
    label {display: block;
    cursor: pointer;}
    
    nav ul {
        text-align: center;
        width: 100%;
        display:none;
    }
    
    nav a {
        display: block;
        margin: 0;
    }
    
    #toggle:checked + nav ul {
        display: block;
    }
}

@media screen and (max-width:640px) {
    
    nav ul li {display: block;}
    nav ul li ul {width: 100%; z-index: 1;}
    nav ul li ul li {display: none;}
    nav ul li:hover>ul li {display: block;}
}

