/* *****************************************************************************

Title:  CSS Style Page

Use:  CSS Style

Author:  Darcy O'Connor

School/Term:  University of Missouri, Summer 2020

Developed: July 10, 2020

Tested:  July 31, 2020; Passed on Safari, Firefox and Chrome browsers.

****************************************************************************** */
@font-face { font-family: bbSpreadKindness; src: url(BBSpreadKindness.ttf); }

@font-face { font-family: bbMamaBear; src: url(bbMamaBear.ttf)}


h1 {color: #ac3b61; 
    font-size:5vw; 
    text-align: center;
    font-family:bbSpreadKindness;
    margin: 15px;
    border:20px dotted #123c69;
    background: #edc7b7;}

#resume {color:#ac3b61;
        font-size:1em;
        text-decoration: none;}

#reflection {padding: 30px; margin: 30px; padding-top: 0;}

#reflection p {font-size: 2vw;}

h2 {text-align: center; color:#ac3b61;}

h4 {color:#ac3b61; font-size: 2.5vw;}


p {color:#123c69}
#resume:hover {color:navy;}
#resume:visited {color:#ac3b61;}

    
body {background: #eee2dc; margin:25px; font-size: 100%; font-family:bbmamabear; padding:15px;}


main {text-align: center;}

h3 {color:#ac3b61; font-size: 2.5vw; text-align: center;}

    main ul {text-align: left; font-size:2.5vw}
    ul.a {color:#123c69;}
    ul.b {color:#123c69;}
    ul.c {color:#123c69;}
    ul.d {color:#ac3b61;}
   
img {padding:10px; 
    margin:10px; 
    margin-bottom: 0;}

footer {background-image: url(images/background.PNG); border:10px solid #ac3b61;}

.iframe-container {padding:20px; margin:40px; }

footer img {padding: 0; margin: 0;}

footer img:hover {transform: scale(2);}

blockquote {color:#123c69; font-size: 2vw}

p.bio {padding:10px; margin-top:0;}

h5 {color:#ac3b61; font-size:1.85vw}
section p {text-align: left; font-size:2vw;}

footer {font-size: 1.5vw; color:#123c69;
        border-top: 10px dotted #123c69; padding: 2px;}
footer p {text-align: left; font-size:1.5vw; color:#123c69; padding-bottom:0; margin-bottom: 0;}


footer a:link {color:#ac3b61;} 
footer a:hover {color:#123c69;}
footer a:focus {color:#edc7b7;}
footer a:visited {color:#bab2b5;}
footer a:active {color:#123c69;}
footer a {text-decoration: none; font-size: 1vw;}

.credit {font-size:1vw; text-decoration: none; color:#123c69;}
.credit a {font-size:1vw; text-decoration: none; color:#123c69;}
.credit a:link {color:#123c69}
.credit a:visited {color:#123c69}

/*Table*/

table {border: 5px solid #ac3b61;
        border-collapse: collapse;
        text-align: center;
        padding: 20px;}
th, td {border: 3px solid #ac3b61;
        color:#123c69;}
thead {background-color: #eee2dc;}
.center {margin-left: auto;
        margin-right: auto;}
tbody tr:nth-child(even) {background-color:gainsboro;}
figcaption {display:block;
            padding-bottom: 0}

/*Form*/

form label {display: contents; 
    text-align: right !important;
    }

textarea {height:10vw; 
            width: 45vw;}
#message {height:20vw;
            width:45vw;}

input {height: 2vw;
    width: 45vw;
    margin-left: 1em;
    margin-bottom: .5em;}
/*Media Query*/

@media screen and (max-width:960px) {
    body {width:100%}
    #intro {width:25%;}
    #leftside {width:65%;}
   }
    
  /*Resume Video*/


.iframe-container{

  position: relative;
  width: 700px;
    max-width: 100%;
  height:auto;
  padding-bottom: 56.25%; 
  height: 0;
    margin: 0 auto;

    
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;

} 

@media screen and (max-width:320px) {
    body {width:320px;}
   
}


@media screen and (max-width:640px) {
     #intro {width:100%; float: none;}
    #leftside {width:100%; float: none;}
    #leftside {border-right: 0 solid !important;}
    th, td {display:block;}
    thead {display:none;}
    
    .iframe-container{

  position: relative;
  width: 700px;
    max-width: 85%;
  height:auto;
  padding-bottom: 56.25%; 
  height: 0;
    margin: 0 auto;

    
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 85%;
  height: auto;

} 
}


/*Print Screen*/
@media print {
    nav {display:none;}
    
    * {
        background:transparent !important;
        color:#000 !important;
        border:none !important;
    }
    
    body {font-family: serif; 
        font-size: 12pt;
        line-height: 16pt;
        background:none;
        color: #000;
    }
    
    body {
        border:none;
        padding:0;
        margin:0;
        color: #000;
    }
    h3 {
        width:100%;
    }
    main {
        width:60%;
        padding:0;
    }
    aside {
        width:35%;
        border:none;
    }
    img {
        width: 75%;
        height: 75%;
    }
    
    .bio {font-size: 12pt;}
    
    footer {
        width:100%;
    }
    
    h1 {
        color:#000;
        font-size:16pt;
        line-height:20pt;
        margin:0;
        width: 100%;
    }
    
    h2, h3, ul, ul li, ul li ul, p {
        color:#000;
        font-size: 14pt;
        line-height:16pt;
        margin: 0;
        page-break-after: avoid;
    }
      @page {
        margin:.5in;
    }
    a:link {
        margin:0;
    }
    
    
    p {
        orphans: 3;
        widows: 3; }
    }
